body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#windows {
	display: flex;
	flex-wrap: wrap;
	margin: 0.25rem -0.25rem;
}
	#windows .window {
		border: 1px solid #DDD;
		background-color: #EEE;
		padding: 0.25rem;
		margin: 0.25rem;
		display: flex;
		flex-wrap: wrap;
	}
	#windows .window,
	#windows .window button {
		font-size: 12px;
	}
		#windows .window > div:first-child {
			display: flex;
			flex-direction: column;
			margin-right: 4px;
		}